header>img{
    width: 43.77px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.article-oeuvre>.black-mirror{
    width: 329px;
    height: auto;
}

.article-oeuvre>.chute-libre{
    width: 329px;
    height: auto;
}

.article-oeuvre>.bientot-de-retour{
    width: 329px;
    height: auto;
}

.article-oeuvre>.retour-sur-image{
    width: 329px;
    height: auto;
}

.article-pollution>.carte-pollution-nuérique{
    width: 329px;
    height: auto;
}

.article-pollution>.réseaux-pollution-numérique{
    width: 329px;
    height: auto;
}

.article-pollution>.serveur{
    width: 329px;
    height: auto;
}

.article-solutions>.ecosia{
    width: 329px;
    height: auto;
}

.article-solutions>.sites{
    width: 329px;
    height: auto;
}

.article-solutions>.disque-dur{
    width: 329px;
    height: auto;
}

.a-propos h1{
    text-align: center;
}

.accueil h1, .accueil h2, .accueil a{
    text-align: center;
    padding: 15px;
}

.accueil a{
    display: block;
    width: 90%;
}

.accueil h1{
    padding-top: 50px;
    animation: fadein 3s;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.accueil h2{
    padding-top: 50px;
    animation: fadein 9s;
}

.accueil img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    animation: fadein 6s;
}

.accueil a{
    animation: fadein 6s;
}

.réseaux>li>a>img{
    width: 25px;
    height: auto;
    padding: 0 15px 20px 0;
}

.colonne-footer{
    display: table-cell;
    vertical-align: top;
}

.mention{
    width: 50%;
}

footer{
    margin: 0 -20px;
}

form{
    margin: 0 auto;
    width: 300px;
}

form div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 8em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

.projets li{
    display: block;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 0 -5px -20px -45px;
    padding-left: 20%;
    height: 130px;
    border-bottom: 1px solid black;
}

.projets img{
    display: block;
    position: absolute;
    left: 30px;
    height: auto;
}

img[src="./img/netlab.png"]{
    top: 5px;
    width: 10rem;
}

img[src="./img/zeta.png"]{
    top: 5px;
    width: 10rem;
}

img[src="./img/adntech.png"]{
    top: 5px;
    width: 8rem;
}

img[src="./img/llamasresponsible.png"]{
    top: 30px;
    width: 8rem;
}

img[src="./img/datarecall.png"]{
    top: 5px;
    width: 8rem;
}

img[src="./img/tousdesstalkers.png"]{
    top: 30px;
    width: 10rem;
}

img[src="./img/realpollution.png"]{
    top: 5px;
    width: 8rem;
}

img[src="./img/behindtheweb.png"]{
    top: 40px;
    width: 10rem;
}

img[src="./img/myplanet.png"]{
    top: 25px;
    width: 8rem;
}

.projets h3{
    padding-top: 1rem;
}

.projets h4{
    padding-bottom: 1rem;
}

a[href="http://projets1.jamyunverzagt.fr/"]>h4, a[href="http://projets1.laurataormina.fr/"]>h4{
    margin-top: -20px;
}

a[href="http://projets1.lucas-verove.fr/"]>h4{
    margin-top: -25px;
}