header>img{
    width: 43.77px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.article-oeuvre>.black-mirror{
    width: 329px;
    height: auto;
}

.article-oeuvre>.chute-libre{
    width: 329px;
    height: auto;
}

.article-oeuvre>.bientot-de-retour{
    width: 329px;
    height: auto;
}

.article-oeuvre>.retour-sur-image{
    width: 329px;
    height: auto;
}

.article-pollution>.carte-pollution-nuérique{
    width: 329px;
    height: auto;
}

.article-pollution>.réseaux-pollution-numérique{
    width: 329px;
    height: auto;
}

.article-pollution>.serveur{
    width: 329px;
    height: auto;
}

.article-solutions>.ecosia{
    width: 329px;
    height: auto;
}

.article-solutions>.sites{
    width: 329px;
    height: auto;
}

.article-solutions>.disque-dur{
    width: 329px;
    height: auto;
}

.a-propos h1{
    text-align: center;
}

.accueil h1, .accueil h2, .accueil h3{
    text-align: center;
    padding: 15px;
}

.accueil h1{
    padding-top: 50px;
    animation: fadein 3s;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.accueil h2{
    padding-top: 50px;
    animation: fadein 9s;
}

.accueil img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    animation: fadein 6s;
}

.accueil h3{
    animation: fadein 6s;
}

footer > img{
    display: block;
    width: 25px;
    height: auto;
}

.mention{
    width: 109px;
}