.nav-toggle{
    /*background-color: crimson;*/
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar, .nav-toggle-bar::before, .nav-toggle-bar::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before{
    top: -10px;
}
.nav-toggle-bar::after{
    top: 10px;
}

.menu-open .nav-toggle-bar{
    transform: rotate(135deg);
    background-color: black;
}

.menu-open .nav-toggle-bar::before, .menu-open .nav-toggle-bar::after{
    transform: rotate(90deg);
    background-color: black;
    top: 0;
}

.menu{
    background-color: #EFECE3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100vw);
    transition: all .4s;
    z-index: 1;

}

.menu-open .menu{
    transform: translateX(0);
}

.menu-open, .menu-open body{
    overflow: hidden;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
}

.menu li{
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .3s ease;
}

.menu a{
    color: black;
}

.menu-open .menu li{
    transform: translateX(0);
    opacity: 1;
}

.menu-open .menu li:nth-child(n+1) { transition-delay: .3s; }
.menu-open .menu li:nth-child(n+2) { transition-delay: .4s; }
.menu-open .menu li:nth-child(n+3) { transition-delay: .5s; }
.menu-open .menu li:nth-child(n+4) { transition-delay: .6s; }
.menu-open .menu li:nth-child(n+5) { transition-delay: .7s; }
.menu-open .menu li:nth-child(n+6) { transition-delay: .3s; }
.menu-open .menu li:nth-child(n+7) { transition-delay: .4s; }
.menu-open .menu li:nth-child(n+8) { transition-delay: .5s; }

.menu>ul>li:nth-child(1) a, .menu>ul>li:nth-child(6) a{
    font-weight: bold;
    font-size: 40px;
    border-bottom: 3px solid black;
}

.menu>ul>li:nth-child(2), .menu>ul>li:nth-child(3), .menu>ul>li:nth-child(4), .menu>ul>li:nth-child(5), .menu>ul>li:nth-child(7), .menu>ul>li:nth-child(8){
    text-indent: 35px;
}

.menu img{
    width: 43.77px;
    height: auto;
    display: block;
    position: absolute;
    top: 30px;
}